body{
    font-family: 'Roboto', sans-serif;
    color: var(--brand-black-color);
}

:root{
    --brand-black-color: #434455;
    --black-color: #2E2F42;
    --blue-color: #4D5AE5;
    --blue-color-2: #404BBF;
    --white-color: #FFFFFF;
    --white-color-2: #F4F4FD;
    --white-footer-color: #E7E9FC;
}

.web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
    text-decoration: none;
}
.studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
    text-decoration: none;
    
}

.list-main{
    list-style: none;
}
.title-studio{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--black-color);
    text-decoration: none;
    
    
}
.title-studio:hover, 
.title-studio:focus{
    color: var(--brand-black-color);
}
.title-studio:active{
    color: var(--blue-color);
}

.title-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--black-color);
    text-decoration: none;
    
}
.title-portfolio:hover, 
.title-portfolio:focus{
    color: var(--brand-black-color);
}
.title-portfolio:active{
    color: var(--blue-color);
}

.list-contacts{
    list-style: none;
}
.title-contacts {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--black-color);
    text-decoration: none;
    
}
.title-contacts:hover, 
.title-contacts:focus{
    color: var(--brand-black-color);
}
.title-contacts:active{
    color: var(--blue-color);
}

.email {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
    text-decoration: none;
    list-style: none;
}
.email:hover,
.email:focus{
    color: var(--brand-black-color);
}
.email:active{
    color: var(--blue-color);
}

.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    line-height: 24px;
    color: var(--brand-black-color);
    text-decoration: none;
    list-style: none;
}
.phone:hover,
.phone:focus{
    color: var(--brand-black-color);
}
.phone:active{
    color: var(--blue-color);
}

.background{
    background-color: var(--black-color);
}
.title-solutions {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60/56);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}
.button-order-service {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--blue-color);
}
.button-order-service:hover,
.button-order-service:focus,
.button-order-service:active{
    background-color: var(--blue-color-2);
}



.visually-hidden-skills {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 
.list-skills{
    list-style: none;
}
.title-strategy {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-strategy {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-punctuality {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-punctuality {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-diligence {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-diligence {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-technologies {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-technologies {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.studio-images-1{
    list-style: none;
}

.title-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-color);
}

.studio-images-2{
    list-style: none;
}
.background-studio-people-1{
    background-color: var(--white-color-2);
}
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-color);
}
.background-studio-people-2{
    background-color: var(--white-color);
}
.name-mark {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-mark {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.name-tom {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-tom {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.name-camila {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-camila {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.name-daniel {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-daniel {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.web2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-color);
    text-decoration: none;
}
.studio2 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color-2);
    text-decoration: none;
}
.text-footer {
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--white-footer-color);
}
.background-footer{
    background-color: var(--black-color);
}





.list-button{
    list-style: none;
}
.button-all {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    cursor: pointer;
    background-color: var(--white-color-2);
}
.button-all:hover,
.button-all:focus,
.button-all:active{
    color: var(--white-color);
    background-color: var(--blue-color-2);
}

.button-web-site {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    cursor: pointer;
    background-color: var(--white-color-2);
}
.button-web-site:hover,
.button-web-site:focus,
.button-web-site:active{
    color: var(--white-color);
    background-color: var(--blue-color-2);
}


.button-app {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    cursor: pointer;
    background-color: var(--white-color-2);
}
.button-app:hover,
.button-app:focus,
.button-app:active{
    color: var(--white-color);
    background-color: var(--blue-color-2);
}


.button-design {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    cursor: pointer;
    background-color: var(--white-color-2);
}
.button-design:hover,
.button-design:focus,
.button-design:active{
    color: var(--white-color);
    background-color: var(--blue-color-2);
}


.button-marketing {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    cursor: pointer;
    background-color: var(--white-color-2);
}
.button-marketing:hover,
.button-marketing:focus,
.button-marketing:active{
    color: var(--white-color);
    background-color: var(--blue-color-2);
}


.title-portfolio-main{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-color);
}
.visually-hidden-skills {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 

.portfolio-images{
    list-style: none;
}
.title-banking {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-banking {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-cashless {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-cashless {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-meditation {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-meditation {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-taxi {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-taxi {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-screen {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-screen {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-online-courses {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-online-courses {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-instagram {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-instragram {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-organic-food {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-organic-food {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}
.title-fresh-coffee {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
.text-fresh-coffee {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-black-color);
}






